*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color:whitesmoke;
    font-family: 'Roboto Flex', sans-serif;
}

.social
{
    background-color: rgb(48, 41, 90);
    color: white;
    height:55px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

.social.navbar{
    width: 100%;
    height: auto;
    background-color:antiquewhite;
    overflow: auto;
}

.navbar ul{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.navbar ul li{
    list-style: none;
    display: inline-block; 
    line-height: 0;
}

.navbar ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 20px;
    padding: 0 13px;
}

.navbar ul li a:hover{
    color: antiquewhite;
    background-color:rgb(141, 141, 171);
} 

font{
    float: left;
    letter-spacing: 2px;
}

span{
    font-size: 12px;
    letter-spacing: 1px;
}

.section1{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
}

.slider{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;   
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.images{
    width: 20%;
    transition: 2s;
    position: relative;
}

.images img{
    width: 1000px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid rgb(141, 141, 171);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: rgb(141, 141, 171);
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -1000px;
}

#radio3:checked ~.first{
    margin-left: -2000px;
}

#radio4:checked ~.first{
    margin-left: -3000px;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid rgb(141, 141, 171);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

.nav-auto{
    position:absolute;
    width: 1000px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid rgb(141, 141, 171);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: rgb(141, 141, 171);
}

#radio2:checked ~.nav-auto .a-b2{
    background-color: rgb(141, 141, 171);
}

#radio3:checked ~.nav-auto .a-b3{
    background-color: rgb(141, 141, 171);
}

#radio4:checked ~.nav-auto .a-b4{
    background-color: rgb(141, 141, 171);
}

.detaykismi{
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    padding-top: 0;
    position: absolute;
}

h3{
    background-color: rgb(48, 41, 90);
    color:antiquewhite;
    text-align: center;
    margin-left: 532px;
    width: 200px;    
    border-radius: 10px;
}

.overlay {
    position:absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: antiquewhite;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.images:hover .overlay {
    opacity: 1;
}

.detaykismi{
    text-align: center;
}

p{
    margin: 20px 80px;
    color: rgb(48, 41, 90);
    font-weight: bolder;
}

.sinopdoga{
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    box-shadow: 0 2px 8px 3px rgb(20, 23, 28, .15);
    border-radius: 4px;
    margin-left: 120px;
}

#kucuk{
    width: 400px;
    height: 250px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.sinoptarih{ 
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    box-shadow: 0 2px 8px 3px rgb(20, 23, 28, .15);
    border-radius: 4px;
    margin-left: 120px;
}

.sinopmutfak{ 
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    box-shadow: 0 2px 8px 3px rgb(20, 23, 28, .15);
    border-radius: 4px;
    margin-left: 120px;
}

#ymk{
    width: 300px;
    height: 250px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 4px;
}









footer{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 2px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(48, 41, 90);
    color: white;
    line-height: 50px;
    text-align: center; 
    box-shadow: 0 2px 8px 3px rgb(20, 23, 28, .15);
}
